.custom-nav {
    margin-left: auto;
}

.dark-mode {
    background-image: linear-gradient(94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a subtle shadow to the text */
}

.light-mode {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: black; /* Light text color for dark mode */
  }

.dark-mode-text{
    font-weight: 700;
    color: white;

}

.light-mode-text{
    color: black;
    font-weight: 700;

}
