

#pageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

}

#movieTitle{
    background-color: lightblue;
    font-size: 200%;
}

#infoPoster{
    max-height: 400px;
}

#infoReviewContainer{
    display: flex;

    grid-area: 50%;
    flex-direction: row;

    margin-left: 2%;
    margin-right: 2%;

    gap: 2%;
}

#infoReviewContainer > #infoContainer{
    /* display: flex;
    flex-direction: column; */

    width: 50%;
    background-color: black;
    color: blue;

    list-style: none;
}

#infoReviewContainer > #reviewContainer{
    /* display: flex;
    flex-direction: column; */

    flex-grow: 1;

    max-width: 50%;

    list-style: none;

    background-color: black;
    color: blue;
}


.videoResponsive{

    width: 60%;

    aspect-ratio: 16 / 9;
}
