


.infoContainer{
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 2%;
    margin-top: 2%;


}

#movieInfoBody{
    overflow-x: hidden;
    float: left;
}

.infoPoster{
    max-width: 80%;
}

#reviewForm{ 

    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;

    margin: auto auto;
}

.reviewBox{
    width: 100%;
    height: 200px;
}

.submitBtn{
    width: 30%;
    padding: 5px;
    margin: auto auto;
}

.ratingBox{

    width: 15%;
    height: 20%;
}

#reviewFormBody{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.movieTitle{
    font-size: 120%
}

.imgTitleContainer{

    display: flex;
    flex-direction: column;

    align-items: center;
}

#themoviedbInfo{
    list-style: none;
    
}

.infoPoster{
    border-radius: 5px;
}

.reviewContainer{
    margin-top: 2%;
    width: 80%;

}

.reviewItem{
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    list-style: none;
    display: flex;
    flex-direction: column;

    min-width: 70%;

}