

.searchCont{
    display: flex;
    flex-direction: row;
    gap: 10px;
/*  
    flex-wrap: nowrap; */
    margin-top: 1%;
    /* background-color: lightblue; */

}

/* searchbar */
.mr-sm-2{

}

/* .pageComponent{
    overflow-wrap: break-word;
    scale: 85%;
    float: right;
} */

.searchForm{
    /* gap: 10px; */
    display: flex;
    flex-direction: row;

    margin: auto auto;

}




/* .listCont{

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    overflow-x:hidden;

    gap: 30px;

    list-style: none;

    padding-top: 2%;

    margin: auto auto;

    overflow-y: hidden;

    align-items: center;

} */

.listCont {
    display: flex;
    flex-wrap: wrap; /* Enable flex items to wrap onto multiple lines */
    gap: 25px;
    list-style: none;
    padding-top: 2%;
    margin: auto auto;
    overflow: hidden; /* Hides content that overflows the container */
    width: 85%;
    align-items: center;
    justify-content: center;
  }
  


.movieCard{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

.movieTitle{
    font-size: 120%;
    font-weight: 700;

    /* //fill empty space */
    flex-grow: 1;

}

.posterImg{
    /* height: 50% */
    width: 85%;
    border-radius: 10px;
}

.voteAverage{
}

h1{
    margin-bottom: 2%;
}

.outerCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto;

    overflow-wrap: break-word;
}

.movieCard:hover{
    scale: 1.02;
    /* opacity: 0.80; */
}

@media (max-width: 400px) {
    .container {
        max-width: 90%;
        margin: 10% auto;
        padding: 10px;
    }

    .listCont{
        /* display: flex;
        flex-direction:row; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto auto;
        
    }

    .searchCont{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

}